@(title: String, module: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <script type="text/javascript">
            var OPTIONS = {};
            OPTIONS.YUI_MODE = "min";
            OPTIONS.YUI_COMBINE = true;
            OPTIONS.YUI_PATH = "http://yui.yahooapis.com/3.14.1/build/yui/yui-min";
        </script>
        <script type="text/javascript">
            var require = {
                paths: {
                    YUI: OPTIONS.YUI_PATH
                },
                shim: {
                    YUI: {
                        exports: 'YUI'
                    }
                },
                waitSeconds: 0,
                YUI: {
                    filter: OPTIONS.YUI_MODE,
                    combine: OPTIONS.YUI_COMBINE
                }
            };
        </script>
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at(module).url)
    </head>
    <body>
        @content
    </body>
</html>